*{
    color: white;
}
#container{
    width: 100vw;
    height: 400vh;
    display: flex;
    flex-direction: column;
}
/* home page */
#Home{
    width: 100vw;
    height: 100vh;
    background-image: url("home_page.jpg");
    background-repeat: repeat;
    background-size: cover;
    display: flex;
}
.section{
    background-color: black;
    height: 10vh;
    width: 80vw;
    order: 2;
    display: flex;
}
.sec{
    height: 8vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.media{
    height: 20vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* menu */
#menu{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.pic{
    width: 10vw;
    height: 10vh;
    padding: 5vh;
    display: flex;
}
row{
    width: 80rw;
    height: 30rh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 
/* faq */
#faq{
    width: 100vw;
    height: 100vh;
    background-color:gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#par{
    display: flex;
    justify-content: center;
}
#contant{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
input, textarea, select{
    color: black;
}


